body {
    font-family: Hiragino Kaku Gothic ProN, -apple-system, BlinkMacSystemFont, Hiragino Sans, æ¸¸ã‚´ã‚·ãƒƒã‚¯ Medium, meiryo, sans-serif;
}

.quizBig {
    width: 600px;
    margin: 10px auto;
}

.question {
    font-family: Hiragino Kaku Gothic ProN, -apple-system, BlinkMacSystemFont, Hiragino Sans, æ¸¸ã‚´ã‚·ãƒƒã‚¯ Medium, meiryo, sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
}

.question::after {
    display: block;
    margin-top: 10px;
    width: 90pt;
    height: 2px;
    background: #00ab36;
    content: '';
}

.quizPhoto {
    width: 100%;
}

.table {
    width: 100%;
    display: block;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin: 10px 0;
    font-weight: 600;
    box-shadow: 0 3px 2px -2px #EBEBEB;
}

.message_delete {
    display: none;
}

.correct_message,
.incorrect_message {
    background-color: #f5f5f5;
    padding: 17px;
    border-radius: 3px;
}

.correct_message h3,
.incorrect_message h3 {
    font-weight: bolder;
}

.correct_message h3::after,
.incorrect_message h3::after {
    display: block;
    margin: 5px 0;
    width: 40pt;
    height: 2px;
    content: '';
}

.correct_message h3::after,
.incorrect_message h3::after {
    background: #287dff;
}

.correct_message p,
.incorrect_message p {
    margin-top: 15px;
}

.incorrect_message h3::after {
    background: #ff5128;
}