.QuizBig {
  width: 600px;
  margin: 10px auto;
}

.Question {
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}

.Question::after{
  display: block;
  margin-top: 10px;
  width: 90pt;
  height: 2px;
  background: #00ab36;
  content: '';
}

.QuizPhoto {
  width: 100%;
}

.Table{
  width: 100%;
  display: block;
  border: 1px solid #ebebeb;
  padding: 13px;
  margin: 10px 0;
  font-weight: 600;
  box-shadow: 0 3px 2px -2px #EBEBEB;
}