header {
    height: 64px;
    border-bottom: black;
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
}

.top {
    display: flex;
    justify-content: space-around;
}

.logo,
.week {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    object-fit: contain;
    width: 70%;
    height: 70%;
}

.week p {
    color: #97b9d1;
    height: 30%;
}


/* モーダルボタン */

.my_modal_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0f71bc, #3ccfff);
    border-radius: 30px;
    width: 20%;
    height: 90%;
    position: relative;
    color: #fff;
}


/* チェックボックスを非表示 */

#my_modal1 {
    display: none;
}


/* モーダル */

.my_modal_body1 {
    display: none;
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    display: none;
    background-color: #FFF;
    overflow-y: auto;
    /* スマホ用スクロール */
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    /* お好みで */
    width: 90%;
}


/* モーダル内ヘッダー */

.my_modal_header {
    padding: 15px 10px;
    position: sticky;
}


/* クローズアイコン */

.my_modal_close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}

.my_modal_close_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    background-color: #f5f5f8;
    border-radius: 50%;
}

.my_modal_close_icon span::before,
.my_modal_close_icon span::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 16%;
    margin: -8% 0 0 -42%;
    background: #aaa;
}

.my_modal_close_icon span::before {
    transform: rotate(-45deg);
}

.my_modal_close_icon span::after {
    transform: rotate(45deg);
}


/* コンテンツ表示 */

.my_modal_content {
    padding: 5px 10px;
}


/* 背景を暗くする */

.my_modal_overlay {
    display: none;
    position: fixed;
    z-index: 90000;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: #111;
    opacity: 0.3;
    cursor: pointer;
}


/* labelタグ */

.date-edit {
    position: relative;
}


/* ボックス部分 */

input[type="date"] {
    padding: 10px;
    text-align: center;
}


/* チェック時オーバーレイとコンテンツを表示 */

#my_modal1:checked~.my_modal_body1,
#my_modal1:checked~.my_modal_overlay {
    display: block;
}

.cp_iptxt {
    position: relative;
    width: 80%;
    margin: 40px 3%;
}

.cp_iptxt input[type='text'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #aaaaaa;
    border: 1px solid #1b2538;
    border-radius: 4px;
}

.ef input[type='text']:focus {
    border: 1px solid #da3c41;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(218, 60, 65, .5);
}

.go {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0f71bc, #3ccfff);
    border-radius: 30px;
    width: 20%;
    height: 90%;
    color: #fff;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}

.none {
    display: none;
}


/* ローダー */

.loader {
    color: #ffffff;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before,
.loader:after {
    position: absolute;
    content: '';
}

.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #0dc5c1;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.1em 5.1em;
    transform-origin: 5.1em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}

.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #0dc5c1;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    -webkit-transform-origin: 0.1em 5.1em;
    transform-origin: 0.1em 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* モーダルの細かい見た目 */

.modal_index12345 {
    display: flex;
    justify-content: space-around;
}

.modal_index12 {
    width: 40%;
}

.modal_index p,
.modal_index1 p,
.modal_index2 p,
.modal_index3 p,
.modal_index4 p {
    font-weight: bold;
}

.write {
    height: 10%;
    padding: 10px;
}

.twitter {
    margin: 10% 0;
}

.modal_index6 {
    text-align: center;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 30px;
    color: #fff;
    background: linear-gradient(#0f71bc, #3ccfff);
    height: 30%;
}


/* チェックマーク */


/* こっからメイン */

.main {
    background-color: #f5f5f8;
}

.data {
    display: flex;
    justify-content: space-around;
}

.timeData {
    width: 45%;
}

.timeData_date {
    display: flex;
    justify-content: space-between;
}

.studyData {
    display: flex;
}

.timeData_today,
.timeData_month,
.timeData_total {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px;
    padding: 10px;
    margin: 16px;
    width: 33%;
}

.index {
    color: #0f71bc;
    font-weight: bold;
    text-align: center;
}

.figure {
    font-weight: bold;
    text-align: center;
}

.timeData_bar {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px;
    padding: 10px;
    margin: 16px;
}

.studyData_fig {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px;
    padding: 10px;
    margin: 16px;
}

.studyData_fig p {
    font-weight: bold;
}


/* 下のやつ */

.hour {
    color: #97b9d1;
    text-align: center;
}

.under {
    display: flex;
    justify-content: center;
    margin: 50px;
}

*/ .left {
    color: #0f71bc;
    font-weight: 2px;
}

.right {
    color: #97b9d1;
    font-weight: 2px;
}